@keyframes blink {
  0% {
    opacity: 0;
    color: #3e6680;
  }
  40% {
    opacity: 0;
    color: #c4a79b;
  }

  60% {
    opacity: 1;
    color: #3e6680;
  }
  100% {
    opacity: 1;
    color: #e20d3f;
  }
}

.about__section {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
  animation-name: fadeIn;
  animation-duration: 2s;

  @media only screen and(max-width:320px) {
    font-size: 0.8rem;
  }

  span {
    color: #c4a79b;
  }
  a {
    color: white;
    background-color: #e20d3f;
    padding: 1rem 0.5rem;
    text-decoration: none;
    text-align: center;
    width: 40%;
    display: inline-block;

    @media only screen and(max-width:568px) {
      width: 100%;
    }
  }

  &-picture {
    width: 260px;
    height: 220px;
    margin: 0 auto;
    border: 1px solid #e20d3f;
    border-radius: 5%;

    @media only screen and(max-width:520px) {
      width: 140px;
      height: 140px;
    }

    lottie-player {
      margin-top: 0.8rem;
    }
  }

  &-container {
    width: 50vw;
    margin: 4rem auto;
    color: white;

    @media only screen and(max-width:1190px) {
      width: 60vw;
    }

    @media only screen and(max-width:758px) {
      width: 80vw;
    }
    &-text {
      .anime {
        display: flex;
        height: 5vh;
      }
      h1 {
        color: #c4a79b;
        margin-bottom: 2rem;
        letter-spacing: 0.4rem;
        font-weight: bold;
      }

      #cursor {
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        color: white;
        font-size: 2rem;
        margin-top: -0.5rem;
      }

      .text__content {
        margin-top: 2rem;

        p {
          width: 100%;
          text-align: justify;
          line-height: 1.8rem;
          letter-spacing: 0.2rem;
          margin-top: 1rem;

          @media only screen and(max-width:520px) {
            text-align: start;

            width: 90%;
            line-height: 2rem;
          }
        }

        .remove {
          @media only screen and (max-width: 420px) {
            display: none;
          }
        }
      }

      .text__toolkit,
      .text__why {
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;

          row-gap: 1rem;
          list-style-image: linear-gradient(to left bottom, #e20d3f, #3e6680);
          list-style-position: inside;
          letter-spacing: 0.1rem;
          background-color: #222831;

          @media only screen and(max-width:996px) {
            grid-template-columns: 1fr 1fr 1fr;
          }

          @media only screen and(max-width:568px) {
            grid-template-columns: 1fr 1fr;
          }

          @media only screen and (max-width: 360px) {
            font-size: 0.8rem;
          }

          li {
            padding: 1rem;

            @media only screen and(max-width:568px) {
              padding: 0.5rem;
            }
          }
        }
        h2,
        h3 {
          font-size: 1.2rem;
          margin: 3rem 0;
          letter-spacing: normal;
          margin-left: 0;
          text-decoration: underline #c4a79b;
          padding-bottom: 0.3rem;
        }
      }

      .text__why {
        padding: 2rem 0;
        margin: 2rem 0;
      }
    }
  }
}
