.project__section {
  width: 50%;
  margin: 0 auto;
  animation-name: fadeIn;
  animation-duration: 2s;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;

  .nota_bene {
    color: #e20d3f !important;
  }

  @media only screen and (max-width: 920px) {
    width: 70%;
  }

  @media only screen and(max-width:640px) {
    width: 90%;
  }

  @media only screen and(max-width:420px) {
    padding-left: 1rem;
  }
  span {
    font-size: 1.2rem;
  }

  .visit__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #e20d3f;
    padding: 0.2rem 0.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0 8rem 0;
    text-align: center;

    @media only screen and (max-width: 540px) {
      display: block;
      width: 50%;
      margin: 1rem 0 1rem 0;
    }

    @media only screen and(max-width:420px) {
      width: 70%;
      font-size: 0.8rem;
    }
  }

  .visit__link:hover {
    background-color: #3e6680;
  }

  a {
    text-decoration: none;
  }

  .project__number {
    margin: 3rem 0;
    display: inline-block;
    background-color: #3e6680 !important;
    border: none;
    border-radius: 50%;
    color: white !important;
    padding: 0.4rem;
  }

  &__container {
    padding: 8rem 0;
    .list {
      padding: 1rem;
      list-style-image: linear-gradient(to left bottom, #e20d3f, #3e6680);
      list-style-position: inside;
      @media only screen and(max-width:420px) {
        font-size: 0.8rem;
      }
    }

    &-group {
      width: 100%;

      img {
        width: 100%;
        max-height: 100%;
      }

      .project__group-text {
        p {
          @media only screen and (max-width: 420px) {
            font-size: 0.9rem;
          }
        }
        span {
          color: #c4a79b;
          display: inline-block;
          margin: 2rem 0;
          text-decoration: underline;
        }

        .text__stack {
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 0.5rem;

            @media only screen and(max-width:520px) {
              grid-template-columns: 1fr 1fr;
            }

            @media only screen and(max-width:280px) {
              grid-template-columns: 1fr;
            }
          }
        }
        .group__text-give {
          display: inline-block;
          text-decoration: none;
          color: white;
          background-color: #222831;
          padding: 0.5rem;
          margin: 0.5rem 0;

          @media only screen and(max-width:420px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .connect__display {
    text-align: center;
    padding: 3rem 0;

    p {
      color: white;
      font-size: 3rem;
      letter-spacing: 0.2rem;

      @media only screen and (max-width: 520px) {
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
    }

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      margin: 2rem 0;
      padding: 0.8rem 0.4rem;
      background-color: #e20d3f;
      line-height: 1.8rem;
      letter-spacing: 0.2rem;
      @media only screen and(max-width:420px) {
        font-size: 0.8rem;
      }
    }
    a:hover {
      background-color: #3e6680;
    }
  }
}
